# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/

# Environment
.env

# Node
node_modules/
frontend/node_modules/
npm-debug.log*
pnpm-lock.yaml
package-lock.json

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Logs
logs/
.log
